

<!-- header-start -->
<%- include("comman/header") %>
<!-- header-end -->



<!-- extra-hero-section-strat -->

<section class="extra-hero">

    <div class="container">

        <div class="extra-hero-content">

            <h1 class="main-heading">About Us</h1>

        </div>

    </div>

</section>

<!-- extra-hero-section-end -->



<!-- about-us-section-strat -->

<section class="about-us" id="about_us">

    <div class="container">

        <div class="row g-4 align-items-center">

            <div class="col-12 col-md-8 order-1">

                <div class="about-content">

                    <p>Welcome to Pri-Vit Nutri Meal Planner! We are passionate about helping you achieve optimal health and well-being through personalized nutrition and meal planning.</p>

                    <p>At Pri-Vit, we understand that everyone's dietary needs and goals are unique. That's why we have created an advanced AI-powered app that tailors meal plans specifically for you. Our innovative algorithms take into account your preferences, dietary restrictions, health objectives, and lifestyle to create personalized meal plans that fit your individual needs.</p>

                    <p>We believe that healthy eating should be enjoyable and effortless. With Pri-Vit, say goodbye to the confusion and stress of meal planning. Our user-friendly interface makes it effortless to nourish your body with exactly what it needs to thrive.</p>

                </div>

            </div>

            <div class="col-12 col-md-4 order-2">

                <div class="about-img">

                    <img src="assets/image/about-2.jpg" class="img-fluid" />

                </div>

            </div>

             <div class="col-12 col-md-4 order-4 order-md-3">

                <div class="about-img">

                    <img src="assets/image/about-1.jpg" class="img-fluid" />

                </div>

            </div>

            <div class="col-12 col-md-8 order-3 order-md-4">

                <div class="about-content">

                    <p>But we don't stop at just meal planning. Our application also offers you with valuable insights into your nutrition intake. You can effortlessly track your daily food consumption & screen your nutrient levels to ensure you're meeting your goals. We believe that knowledge is power, and by empowering you with this information, you can make informed decisions about your diet and take control of your health.</p>

                    <p>Join the Pri-Vit community and embark on a journey towards a healthier and happier you. Download our app today and start enjoying the benefits of personalized nutrition and effortless meal planning.</p>

                </div>

            </div>

        </div>

    </div>

</section>

<!-- about-us-section-end -->




<!-- footer-start -->
<%- include("comman/footer") %>
<!-- footer-end -->

