<%- include('comman/header') %>

<!-- header-end -->

<!--hero-section-start  -->

<section class="hero" id="hero_section" style="background-image: url('/assets/image/hero.jpg'); background-repeat: no-repeat; background-position: center;">

    <div class="container">

        <div class="row">

            <div class="col-12 col-md-7 col-lg-6">

                <div class="hero-content">

                    <h4 class="banner-heading">With just a few clicks,</h4>

                    <h1 class="main-heading">Create your very own customized diet plans.</h1>

                    <p>Introducing our revolutionary Personalized Diet Planner that will transform your approach to nutrition.</p>

                    <div class="link-box">

                        <a href="">

                            <img src="/assets/image/as.jpg" class="img-fluid"/>

                        </a>

                        <a href="">

                            <img src="/assets/image/gp.jpg" class="img-fluid"/>

                        </a>

                    </div>

                    <a href="" class="btn-all">Register to get free access</a>

                </div>

            </div>

        </div>

    </div>

    <button class="scroll-btn"><a href="#footer" class="scrollTo"><i class="fa-light fa-arrow-down"></i></a></button>

</section>

<!--hero-section-end  -->



<!-- reason-to-choose-section-start -->

<section class="reason-choose" id="reason_choose" style="background-image: url('/assets/image/RC-BG.jpg'); background-repeat: no-repeat; background-position: center;">

    <div class="container">

        <div class="section-heading">

            <h2>Reason to choose</h2>

            <p>Unlock the power of a single tool that empowers you to improve your eating habits, optimise your time, and enhance your shopping experience. Transform your connection with food by exclusively consuming what your body truly requires. Embrace the delight of fuelling your body with mouthwatering, well-rounded meals customised to YOUR specific dietary needs and preferences.</p>

        </div>

        <div class="row align-items-center g-4">

            <div class="col-12 col-md-12 col-lg-6">

                <div class="reason-choose-img">

                    <img src="/assets/image/RC.png" class="img-fluid" />

                </div>

            </div>

            <div class="col-12 col-md-12 col-lg-6">

                <div class="reason-content">

                    <ul>

                        <li>

                            <h4 class="reason-heading">Convenience</h4>

                            <p>Easily access your personalized meal plans on-the-go, anytime and anywhere, through your smartphone or web.</p>

                        </li>

                        <li>

                            <h4 class="reason-heading">Budget-conscious planning</h4>

                            <p>Establish Groups where each meal plan is as distinct as its individual members, taking budget considerations into account.</p>

                        </li>

                        <li>

                            <h4 class="reason-heading">Time Efficiency</h4>

                            <p>Dedicate less time to meal planning and more time savoring nourishing meals.</p>

                        </li>

                        <li>

                            <h4 class="reason-heading">Community Engagement</h4>

                            <p>Forge connections with a supportive community of health enthusiasts embarking on similar wellness endeavors.</p>

                        </li>

                    </ul>

                </div>

            </div>

        </div>

    </div>

</section>

<!-- reason-to-choose-section-end -->



<!-- time-eat-section-start -->

<section class="time-eat" id="time_eat">

    <div class="container">

        <div class="section-heading">

            <h2>Save Time & Eat Better</h2>

            <p>Take the stress out of meal planning and stick to your plan.</p>

        </div>

        <div class="row g-5">

            <div class="col-12 col-md-6 col-lg-4">

                <div class="time-eat-content">

                    <figure class="time-eat-img">

                        <img src="/assets/image/te1.png" class="img-fluid" />

                    </figure>

                    <h4 class="time-eat-heading">Meal Plan Generator</h4>

                    <p>This is where we make things much easier for you...</p>

                </div>

            </div>

            <div class="col-12 col-md-6 col-lg-4">

                <div class="time-eat-content">

                    <figure class="time-eat-img">

                        <img src="/assets/image/te2.png" class="img-fluid" />

                    </figure>

                    <h4 class="time-eat-heading">get the grocery for meal plan</h4>

                    <p>Effortlessly generate a shopping list aligned with your meal plan and conveniently procure groceries within the app, transforming the pursuit of healthy eating into an effortless endeavor.</p>

                </div>

            </div>

            <div class="col-12 col-md-6 col-lg-4 mx-auto">

                <div class="time-eat-content">

                    <figure class="time-eat-img">

                        <img src="/assets/image/te3.png" class="img-fluid" />

                    </figure>

                    <h4 class="time-eat-heading">weekly meal schedule</h4>

                    <p>Easily maintain order and sustenance with our Weekly Meal Schedule Planner, streamlining your meal preparation and guaranteeing a week filled with wholesome and delectable dishes!</p>

                </div>

            </div>

        </div>

    </div>

</section>

<!-- time-eat-section-start -->



<!-- reason-to-choose-section-start -->

<section class="reason-choose choose-reasone" id="choose_reason" >

    <div class="container">

        <div class="section-heading">

            <h2>Reason to choose</h2>

            <p>Unlock the power of a single tool that empowers you to improve your eating habits, optimise your time, and enhance your shopping experience. Transform your connection with food by exclusively consuming what your body truly requires. Embrace the delight of fuelling your body with mouthwatering, well-rounded meals customised to YOUR specific dietary needs and preferences.</p>

        </div>

        <div class="row  g-4">

            <div class="col-12 col-md-6 col-lg-3">

                <div class="reason-box">

                    <figure class="reason-box-img">

                        <img src="/assets/image/re1.svg" class="img-fluid" />

                    </figure>

                    <h4 class="reason-heading">Convenience</h4>

                    <p>Easily access your personalized meal plans on-the-go, anytime and anywhere, through your smartphone or web.</p>

                </div>

            </div>

            <div class="col-12 col-md-6 col-lg-3">

                <div class="reason-box">

                    <figure class="reason-box-img">

                        <img src="/assets/image/re3.svg" class="img-fluid" />

                    </figure>

                    <h4 class="reason-heading">Budget-conscious planning</h4>

                    <p>Establish Groups where each meal plan is as distinct as its individual members, taking budget considerations into account.</p>

                </div>

            </div>

            <div class="col-12 col-md-6 col-lg-3">

                <div class="reason-box">

                    <figure class="reason-box-img">

                        <img src="/assets/image/re4.svg" class="img-fluid" />

                    </figure>

                    <h4 class="reason-heading">Time Efficiency</h4>

                    <p>Dedicate less time to meal planning and more time savoring nourishing meals.</p>

                </div>

            </div>

            <div class="col-12 col-md-6 col-lg-3">

                <div class="reason-box">

                    <figure class="reason-box-img">

                        <img src="/assets/image/re5.svg" class="img-fluid" />

                    </figure>

                    <h4 class="reason-heading">Community Engagement</h4>

                    <p>Forge connections with a supportive community of health enthusiasts embarking on similar wellness endeavors.</p>

                </div>

            </div>

        </div>

    </div>

</section>

<!-- reason-to-choose-section-end -->



<section class="reason-choose choose-reasone" id="choose_reason_one" >

    <div class="container">

        <div class="row  g-4">

            <div class="col-12 col-md-6 col-lg-4">

                <div class="reason-box-second">

                    <figure class="reason-box-img">

                        <img src="/assets/image/re6.svg" class="img-fluid" />

                    </figure>

                    <h4 class="reason-heading">Personalised Meal Plans</h4>

                    <p>Our application considers your specific Nutritional and Vitamin requirements, preferences, and health objectives to generate personalised meal plans that assist you in achieving optimal well-being.</p>

                </div>

            </div>

            <div class="col-12 col-md-6 col-lg-4">

                <div class="reason-box-second">

                    <figure class="reason-box-img">

                        <img src="/assets/image/re7.svg" class="img-fluid" />

                    </figure>

                    <h4 class="reason-heading">Detailed Nutritional Reports</h4>

                    <p>Immerse yourself in a comprehensive analysis of your nutritional intake through our in-depth reports. Gain a profound understanding of your meal composition, monitor your micronutrient intake, and acquire valuable insights into your eating patterns.</p>

                </div>

            </div>

            <div class="col-12 col-md-6 col-lg-4">

                <div class="reason-box-second">

                    <figure class="reason-box-img">

                        <img src="/assets/image/re8.svg" class="img-fluid" />

                    </figure>

                    <h4 class="reason-heading">Real-Time Nutrition Dashboard</h4>

                    <p>Utilize our live nutrition dashboard to effortlessly monitor your daily nutritional intake and make well-informed decisions. Visualize your progress, track macros, vitamins, and minerals in real-time, empowering you to stay on top of your health goals.</p>

                </div>

            </div>

            <div class="col-12 col-md-6 col-lg-4">

                <div class="reason-box-second">

                    <figure class="reason-box-img">

                        <img src="/assets/image/re9.svg" class="img-fluid" />

                    </figure>

                    <h4 class="reason-heading">Shareable Reports for Informed Guidance</h4>

                    <p>Experience our application's ability to produce comprehensive and easily shareable reports that provide a detailed breakdown of nutritional composition,vitamins, and minerals. These reports offer valuable insights for guidance and evaluation, allowing you to seek input from healthcare professionals or wellness experts to further enhance your well-being.</p>

                </div>

            </div>

            <div class="col-12 col-md-6 col-lg-4">

                <div class="reason-box-second">

                    <figure class="reason-box-img">

                        <img src="/assets/image/re10.svg" class="img-fluid" />

                    </figure>

                    <h4 class="reason-heading">White Label Capability</h4>

                    <p>Immerse yourself in a comprehensive analysis of your nutritional intake through our in-depth reports. Gain a profound understanding of your meal composition, monitor your micronutrient intake, and acquire valuable insights into your eating patterns.</p>

                </div>

            </div>

            <div class="col-12 col-md-6 col-lg-4">

                <div class="reason-box-second">

                    <figure class="reason-box-img">

                        <img src="/assets/image/re11.svg" class="img-fluid" />

                    </figure>

                    <h4 class="reason-heading">Affordable Access to Quality Nutrition</h4>

                    <p>Explore affordable recipes, uncover unbeatable ingredient bargains, and gain valuable nutrition insights that cater to your taste buds and wallet alike.</p>

                </div>

            </div>

        </div>

    </div>

</section>

<!-- reason-to-choose-section-end -->



<!-- product-content-section-start -->

<section class="product-item-box" id="product_item">

    <div class="container">

        <div class="row g-4 align-items-center">

            <div class="col-12 col-md-6">

                <div class="section-heading">

                  <h2>Upload Your Food to Calculate Your Nutrient Levels</h2>

                  <p>Maintain awareness of your nutrient consumption by effortlessly uploading images or inputting details of your meals and snacks, enabling the app to accurately calculate and monitor your nutritional levels.</p>

               </div>

            </div>

            <div class="col-12 col-md-6">

                <div class="product-image">

                    <img src="/assets/image/pi1.png" class="img-fluid" />

                </div>

            </div>

            

        </div>

        <div class="row g-4 custom-row align-items-center mt-4">

            <div class="col-12 col-md-6">

                <div class="product-image">

                    <img src="/assets/image/pi2.png" class="img-fluid" />

                </div>

            </div>

            <div class="col-12 col-md-6">

                <div class="section-heading">

                  <h2>Get Grocery for Meal Plan</h2>

                  <p>Effortlessly generate a shopping list aligned with your meal plan and conveniently procure groceries within the app, transforming the pursuit of healthy eating into an effortless endeavor.</p>

               </div>

            </div>          

        </div>

        <div class="row g-4 align-items-center mt-4">

            <div class="col-12 col-md-6">

                <div class="section-heading">

                  <h2>Weekly Meal Schedule</h2>

                  <p>Easily maintain order and sustenance with our Weekly Meal Schedule Planner, streamlining your meal preparation and guaranteeing a week filled with wholesome and delectable dishes!</p>

               </div>

            </div>

            <div class="col-12 col-md-6">

                <div class="product-image">

                    <img src="/assets/image/pi3.png" class="img-fluid" />

                </div>

            </div>            

        </div>

        <div class="row g-4 custom-row align-items-center mt-4">

            <div class="col-12 col-md-6">

                <div class="product-image">

                    <img src="/assets/image/pi4.png" class="img-fluid" />

                </div>

            </div>

            <div class="col-12 col-md-6">

                <div class="section-heading">

                  <h2>Order Your Recommended Diet Meals</h2>

                  <p>Effortlessly acquire your prescribed diet meals directly from the app, saving valuable time and guaranteeing adherence to your tailored nutrition plan.</p>

               </div>

            </div>          

        </div>

         <div class="row g-4 align-items-center mt-4">

            <div class="col-12 col-md-6">

                <div class="section-heading">

                    <h2>Invite Groups of Friends or Family to Health Goals</h2>

                  <p>Transform the pursuit of healthy eating into an enjoyable and communal journey by extending an invitation to friends or family members to join you in your wellness objectives, nurturing a supportive atmosphere and fostering mutual accountability.</p>

               </div>

            </div>

            <div class="col-12 col-md-6">

                <div class="product-image">

                    <img src="/assets/image/pi5.png" class="img-fluid" />

                </div>

            </div>            

        </div>

    </div>

</section>

<!-- product-content-section-end -->



<!-- choose-plan-section-start -->

<!-- <section class="choose-plan" id="choose-plan">

    <div class="container">

        <div class="section-heading">

            <h2>choose your plan</h2>

        </div>

        <div class="row g-4">

            <div class="col-12 col-md-6">

                <div class="plan-content">

                    <h5>weekly</h5>

                    <h3><span>$1</span> / W</h3>

                    <p>Get personalized meal plan with our weekly subscriptions</p>

                    <a href="" class="btn-all">Subscribe now</a>

                </div>

            </div>

            <div class="col-12 col-md-6">

                <div class="plan-content">

                    <h5>weekly</h5>

                    <h3><span>$39</span> / y</h3>

                    <p>Enjoy personalized meal plans with our annual subscription</p>

                    <a href="" class="btn-all">Subscribe now</a>

                </div>

            </div>

        </div>

    </div>

</section> -->

<!-- choose-plan-section-end -->



<!-- blog-section-start -->

<section class="blog" id="blog_section">

    <div class="container">

        <div class="section-heading">

            <h2>Health Tips & Blog</h2>

        </div>

        <div class="row g-4">

            <div class="col-12 col-md-6 col-lg-4">

                <div class="blog-content">

                    <figure class="blog-img">

                        <img src="/assets/image/blog1.jpg" class="img-fluid" />

                    </figure>

                    <div class="blog-heading">

                        <h4>Personalised Meal Plans</h4>

                        <span>sep 19 2023</span>

                    </div>

                    <p>Our application considers your specific Nutritional and Vitamin requirements, preferences.</p>

                    <a href="" class="read-more">read more</a>

                </div>

            </div>

            <div class="col-12 col-md-6 col-lg-4">

                <div class="blog-content">

                    <figure class="blog-img">

                        <img src="/assets/image/blog2.jpg" class="img-fluid" />

                    </figure>

                    <div class="blog-heading">

                        <h4>Personalised Meal Plans</h4>

                        <span>sep 19 2023</span>

                    </div>

                    <p>Our application considers your specific Nutritional and Vitamin requirements, preferences.</p>

                    <a href="" class="read-more">read more</a>

                </div>

            </div>

            <div class="col-12 col-md-6 col-lg-4">

                <div class="blog-content">

                    <figure class="blog-img">

                        <img src="/assets/image/blog3.jpg" class="img-fluid" />

                    </figure>

                    <div class="blog-heading">

                        <h4>Personalised Meal Plans</h4>

                        <span>sep 19 2023</span>

                    </div>

                    <p>Our application considers your specific Nutritional and Vitamin requirements, preferences.</p>

                    <a href="" class="read-more">read more</a>

                </div>

            </div>

        </div>

    </div>

</section>

<!-- blog-section-end -->





<!-- footer-start -->
<%- include('comman/footer') %>
<!-- footer-end -->

