<!-- footer-start -->



<footer id="footer">

    <div class="top-footer">

        <div class="container">

            <div class="top-footer-content">

                <a class="navbar-brand" href="#">

                        <img src="assets/image/pri-logo.svg" class="img-fluid"/>

                </a>

                <div class="socialicon-box">

                    <h5 class="footer-heading">Follow us on</h5>

                    <ul class="social-list">

                        <li>

                            <a href=""><i class="fa-brands fa-facebook"></i></a>

                        </li>

                        <li>

                            <a href=""><i class="fa-brands fa-instagram"></i></a>

                        </li>

                        <li>

                            <a href=""><i class="fa-brands fa-twitter"></i></a>

                        </li>

                        <li>

                            <a href=""><i class="fa-brands fa-linkedin-in"></i></a>

                        </li>

                        <li>

                            <a href=""><i class="fa-brands fa-pinterest-p"></i></a>

                        </li>

                        <li>

                            <a href=""><i class="fa-brands fa-tiktok"></i></a>

                        </li>

                    </ul>

                </div>

            </div>

        </div>

    </div>

    <div class="mid-footer">

        <div class="container">

            <div class="row">

                <div class="col-12 col-md-3 col-lg-3 col-xl-3">

                    <div class="footer-content">

                        <h5 class="footer-heading">Company Links</h5>

                        <ul class="footer-link">

                            <li>

                                <a href="">About Us</a>

                            </li>

                            <li>

                                <a href="">Contact us</a>

                            </li>

                        </ul>

                    </div>

                </div>

                <div class="col-12 col-md-3 col-lg-2 col-xl-2">

                    <div class="footer-content">

                        <h5 class="footer-heading">Products</h5>

                        <ul class="footer-link">

                            <li>

                                <a href="">Why Choose</a>

                            </li>

                            <li>

                                <a href="">App Features</a>

                            </li>

                            <li>

                                <a href="">Pricing</a>

                            </li>

                            <li>

                                <a href="">Blog</a>

                            </li>

                        </ul>

                    </div>

                </div>

                <div class="col-12 col-md-3 col-lg-3 col-xl-2">

                    <div class="footer-content">

                        <h5 class="footer-heading">Resources</h5>

                        <ul class="footer-link">

                            <li>

                                <a href="">Privacy Policy</a>

                            </li>

                            <li>

                                <a href="">Terms & condition</a>

                            </li>

                        </ul>

                    </div>

                </div>

                <div class="col-12 col-md-3 col-lg-4 col-xl-3 ms-auto">

                    <div class="footer-content app-box">

                        <h5 class="footer-heading">Download our app</h5>

                        <ul class="footer-link">

                            <li>

                                <a href="">

                                    <img src="assets/image/as.jpg" class="img-fluid" />

                                </a>

                            </li>

                            <li>

                                <img src="assets/image/gp.jpg" class="img-fluid" />

                            </li>

                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="bottom-footer">

        <p>© Copyright 2023. All Rights Reserved |<a href=""> Privacy Policy</a></p>

    </div>

</footer>

<!-- footer-end -->



<div class="modal fade logSin-modal" id="log_in_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered modal-md ">
  
      <div class="modal-content">
  
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-sharp fa-light fa-xmark"></i></button>
  
        <div class="modal-body">
  
              <div class="section-heading">
  
                  <h2>login</h2>
  
              </div>
  
              <div class="social-account">
  
                  <a href="/auth/google">
  
                      <img src="assets/image/goole.svg" class="img-fluid" />
  
                      Gmail
  
                  </a>
  
                  <a href="/auth/facebook">
  
                      <img src="assets/image/face-book.svg" class="img-fluid" />
  
                      Facebook
  
                  </a>
  
                  <a href="/auth/instagram">
  
                      <img src="assets/image/in-sta.svg" class="img-fluid" />
  
                      instagram
  
                  </a>
  
                  <a href="">
  
                      <img src="assets/image/twi-tter.svg" class="img-fluid" />
  
                      Twitter
  
                  </a>
  
              </div>
  
              <div class="or-box">
  
                  <span>or</span>
  
              </div>
  
              <form id="userLogin">
  
                  <div class="logSin-form">
  
                      <p class="text-center">Please enter your login details</p>
  
                      <div class="form-group">
  
                          <input type="email" class="form-control" name="loginEmail" id="login-email" placeholder="Email Address...">
  
                      </div>
  
                      <div class="form-group">
  
                          <input type="password" class="form-control" name="loginPassword" id="login-password" placeholder="Password">
  
                      </div>
  
                      <div class="check-field">
  
                          <div class="form-check">
  
                            <input class="form-check-input" type="checkbox">
  
                            <label class="form-check-label">Remember Me</label>
  
                          </div>
  
                          <a href="" class="read-more">Recovery Now?</a>
  
                      </div>
  
                      <div class="form-group">
  
                          <button class="form-control btn-all" type="submit">login</button>
  
                      </div>
  
                  </div>
  
              </form>
  
              <div class="create-account">
  
                  <p>No Account?</p>
  
                  <a href="javascript:void(0)" class="create-one">Create one</a>
  
              </div> 
  
        </div>
  
      </div>
  
    </div>
  
  </div>
  
  <div class="modal fade logSin-modal" id="sin_up_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  
    <div class="modal-dialog modal-dialog-centered modal-md ">
  
      <div class="modal-content">
  
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-sharp fa-light fa-xmark"></i></button>
  
        <div class="modal-body">
  
              <div class="section-heading">
  
                  <h2>Create an account</h2>
  
              </div>
  
              <div class="social-account">
  
                  <a href="/auth/google">
  
                      <img src="assets/image/goole.svg" class="img-fluid" />
  
                      Gmail
  
                  </a>
  
                  <a href="/auth/facebook">
  
                      <img src="assets/image/face-book.svg" class="img-fluid" />
  
                      Facebook
  
                  </a>
  
                  <a href="/auth/instagram">
  
                      <img src="assets/image/in-sta.svg" class="img-fluid" />
  
                      instagram
  
                  </a>
  
                  <a href="">
  
                      <img src="assets/image/twi-tter.svg" class="img-fluid" />
  
                      Twitter
  
                  </a>
  
              </div>
  
              <div class="or-box">
  
                  <span>or</span>
  
              </div>
  
              <form id="userRegistration">
  
                  <div class="logSin-form">
  
                      <p class="text-center">Please enter your personal details</p>
  
                      <div class="form-group">
  
                          <input type="text" class="form-control" name="name" id="name" placeholder="Name">
  
                      </div>
  
                      <div class="form-group">
  
                          <input type="email" class="form-control" name="email" id="email" placeholder="Email">
  
                      </div>
  
                      <div class="form-group">
  
                          <input type="text" class="form-control" name="address" id="address" placeholder="Address">
  
                      </div>
  
                      <div class="form-group">
  
                          <input type="text" class="form-control" name="number" id="number" placeholder="Number">
  
                      </div>

                      <div class="form-group">
  
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password">

                    </div>
  
                      <div class="form-group">
  
                          <button class="form-control btn-all" type="submit">Registration</button>
  
                      </div>
  
                  </div>
  
              </form>
  
              <div class="create-account">
  
                  <p>Already have an a account</p>
  
                  <a href="javascript:void(0)" class="already-account">Login</a>
  
              </div>
  
        </div>
  
      </div>
  
    </div>
  
  </div>
  
  <div class="modal fade logSin-modal" id="otp_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered modal-md ">
  
      <div class="modal-content">
  
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-sharp fa-light fa-xmark"></i></button>
  
          <div class="modal-body">
  
             <div class="section-heading">
  
              <h2>OTP Verification</h2>
  
          </div> 
  
          <form>
  
              <div class="logSin-form">
  
                  <p >Please enter the 4 digit verification
  
                     code sent to <span>1234 567890</span></p>
  
                     <div class="form-group otp-form">
  
                      <input type="text" class="form-control" name="_number1">
  
                  </div>
  
                  <div class="check-field">
  
                      <p>If you don’t have receive any OTP</p>
  
                      <a href="" class="read-more">Recovery Now?</a>
  
                  </div>
  
                  <p class="text-center mt-4">OTP will sent in <span>30sec</span></p>
  
                  <div class="form-group">
  
                      <a href="/"  class=" btn-all">continue</a>
  
                  </div>
  
              </div>
  
          </form>
  
      </div>
  
  </div>
  
  </div>
  
  </div>
  
  


<!-- loginSin-modal-end -->






<!-- jQuery-min.js -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>


<!--bootstrap-5.0.2-js-->

<script type="text/javascript" src="assets/js/bootstrap.bundle.min.js"></script>


<!-- AOS-2.3.4-js -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>



<!-- AOS-init -->

<script>

    AOS.init();

</script>


<!-- fany-box-js -->

<script type="text/javascript"
src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script> 
<!-- owl-carousel-2.3.4-js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<!-- style.js -->
<script type="text/javascript" src="assets/js/style.js"></script>
<!-- Jquery Validation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<!-- Toaster -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script>

$(document).ready(function(){
   
//===============================Start Already Have A Account and Create One Script====================================//
 $(".already-account").on("click",function(){
    //Hide Registration form Here
    $('#sin_up_modal').modal('hide');
    $('label[class=error]').remove();
    //Show Login Form Here
    $('#log_in_modal').modal('show');
 });

 $(".create-one").on("click",function(){
    //Show Registration form Here
    $('#sin_up_modal').modal('show');
    $('label[class=error]').remove();
    //Hide Login Form Here
    $('#log_in_modal').modal('hide');
 });


//===============================End Already Have A Account And Create One Script====================================//


//================================Start Here New Registration code========================================//
 
    $("#userRegistration").validate({
        rules: {
            name: {
                required: true,
            },
            email: {
                required: true,
            }, 
            address: {
                required: true,
            },
            number: {
                required: true,
                digits: true,
                maxlength: 10,
                minlength:10,
            },
            password: {
                required: true,
            }, 
        },
        messages: {
            name: {
                required: "Name filed is required",
            },
            email: {
                required: "Email filed is required",
            },
            address: {
                required: "Address filed is required",
            },
            number: {
                required: "Number filed is required",
            },
            password: {
                required: "Password filed is required",
            },
        },
        submitHandler: function(form, event) {
          event.preventDefault();

           var data = $(form).serialize();

          $.ajax({
               url: "/registration",
               type: "POST",
               data: data,
               dataType:"JSON",
              success: function( response ) {
                console.log(response);
                if(response.status == true){
                  $('#sin_up_modal').modal('hide');
                  toastr.success(response.message);
                  $('#otp_modal').modal('show');
                }
              },
              error: function (error) {
                 console.error("Ajax error:", error);
              }
          });
        }
     });
//================================End Here New Registration Code========================================//


//================================Start Here User Login Code=============================================//
  
$("#userLogin").validate({
        rules: {
            loginEmail: {
                required: true,
            }, 
            loginPassword: {
                required: true,
            }, 
        },
        messages: {
            loginEmail: {
                required: "Email filed is required",
            },
            loginPassword: {
                required: "Password filed is required",
            },
        },
        submitHandler: function(form, event) {
          event.preventDefault();

           var data = $(form).serialize();

          $.ajax({
               url: "/login",
               type: "POST",
               data: data,
               dataType:"JSON",
              success: function( response ) {
                console.log(response);
                if(response.status == true){
                  $('#log_in_modal').modal('hide');
                  toastr.success(response.message);
                  window.location.href=response.url;
                }else{
                    toastr.error(response.message);
                }
              },
              error: function (error) {
                 console.error("Ajax error:", error);
              }
          });
        }
     });

//================================End Here User Login Code=============================================//



});
 
</script>


</body>

</html>

