<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pri-Vit</title>

<!-- font-awesome-link -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>

<!-- poppins-font -->

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Dosis:wght@300;400;500;600;700;800&family=Inter&family=Markazi+Text:wght@400;500&family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<!-- bootstrap-5.0.2-link -->

    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">

<!-- AOS-2.3.4-link -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />

<!-- owl-carousel2.3.4-link -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" />

<!-- fancy-box-css -->

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css">

<!--style.css-link-->

    <link rel="stylesheet" href="assets/css/style.css">

<!-- reponsive.css-link -->

    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">

<!-- favicon-link -->

    <link rel="icon" type="image/x-icon" href="">

<!-- Toaster Message -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css">

</head>

<body >

<!--header-start-->

    <header>

        <div class="container">

            <div class="row">                

                    <nav class="navbar navbar-expand-lg">

                    <a class="navbar-brand" href="/">

                        <img src="assets/image/pri-logo.svg" class="img-fluid"/>

                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">

                      <span class="navbar-toggler-icon"></span>

                      <span class="navbar-toggler-icon"></span>

                      <span class="navbar-toggler-icon"></span>

                    </button>

                    <div class="collapse navbar-collapse" id="collapsibleNavbar">

                      <ul class="navbar-nav">

                        <li class="nav-item">

                          <a class="nav-link" href="about-us">About Us</a>

                        </li>                      

                        <li class="nav-item">

                          <a class="nav-link" href="#">why choose us</a>

                        </li> 

                        <li class="nav-item">

                          <a class="nav-link" href="#">app features</a>

                        </li> 

                        <li class="nav-item">

                          <a class="nav-link" href="#">Blog</a>

                        </li> 

                        <li class="nav-item">

                          <a class="nav-link" href="#">price</a>

                        </li> 

                        <div class="btn-area d-hide">

                        <a href="" class="log-in" data-bs-toggle="modal" data-bs-target="#log_in_modal">login <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">

                          <path d="M7.6875 15.4372V14.1982H13.75V1.8081H7.6875V0.569092H13.75C14.0833 0.569092 14.375 0.692992 14.625 0.940794C14.875 1.1886 15 1.4777 15 1.8081V14.1982C15 14.5286 14.875 14.8177 14.625 15.0655C14.375 15.3133 14.0833 15.4372 13.75 15.4372H7.6875ZM6.0625 11.6169L5.16667 10.7289L7.29167 8.62263H0V7.38363H7.25L5.125 5.27732L6.02083 4.38936L9.6875 8.02378L6.0625 11.6169Z" fill="#6654D4"/>

                        </svg></a>

                        <a href="" class="btn-all sign-in" data-bs-toggle="modal" data-bs-target="#log_in_modal">sign up</a>

                    </div>

                      </ul>

                    </div>
             
                    <div class="btn-area m-hide">

                        <a href="" class="log-in" data-bs-toggle="modal" data-bs-target="#log_in_modal">login <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">

                          <path d="M7.6875 15.4372V14.1982H13.75V1.8081H7.6875V0.569092H13.75C14.0833 0.569092 14.375 0.692992 14.625 0.940794C14.875 1.1886 15 1.4777 15 1.8081V14.1982C15 14.5286 14.875 14.8177 14.625 15.0655C14.375 15.3133 14.0833 15.4372 13.75 15.4372H7.6875ZM6.0625 11.6169L5.16667 10.7289L7.29167 8.62263H0V7.38363H7.25L5.125 5.27732L6.02083 4.38936L9.6875 8.02378L6.0625 11.6169Z" fill="#6654D4"/>

                        </svg></a>

                        <a href="" class="btn-all sign-in" data-bs-toggle="modal" data-bs-target="#sin_up_modal">sign up</a>

                    </div>

                </nav>

            </div>

            

        </div>

    </header>

<!--header-end-->









    